body{
    background-color: rgb(160, 245, 160);
}
/* complete to do box */
#box{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    width: 70vw;
    border-radius: 25px;
    box-shadow: 0px 0px 14px 7px grey;
    background-color: white;
    padding: 2%;
    
}
/* aligning box content */
#box .center{
    text-align: center;
}
/* box label */
#box label{
    font-weight: 600;
}
/* list */
#list{
    margin-top: 1%;
}
#list ul button{
    cursor: pointer;
    width: 100%;
    
}
#list ul button:hover{
    background-color: rgb(238, 73, 73);
    color: white;
}
.checked{
    text-decoration: line-through;
    background-color:  rgb(238, 73, 73);;
}
#delete-task-form input{
    margin-right: 2%;
    margin-top: 1%;
    font-size: 1.1rem;
}